/* #region Сброс */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* #endregion Сброс*/

/* #region Общее */
:root {
  --font-family: "Playfair Display", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Barlow", sans-serif;
}

.container--common {
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

/* Для всех ссылок цвет после посещения сделаем одинаковыми соответствующе цвету родительского элемента */
a:visited {
  color: inherit;
}

img {
  /*  Адаптивное изображение */
  max-width: 100%;
  height: auto;
}


/* #endregion Общее */

/* #region Header Menu */

.header-menu {}

.header-menu--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  margin: 0 auto;
  gap: 15px;
  padding: 0 65px;
}

.logo {}

.logo--a {
  text-decoration: none;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 42px;
  color: #2f2e2e;

  display: block;
  padding: 10px;
  border-radius: 5px;
}

.logo--a:hover {
  background-color: aqua;
}

.header__nav {
  max-width: 625px;
  width: 100%;
}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav li {}

.header__nav-a {
  text-decoration: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #2f2e2e;

  display: block;
  padding: 10px;
  border-radius: 5px;
}

.header__nav-a:hover {
  background-color: aqua;
}

.header__nav--li-01 {}

.header__nav--li-02 {}

.header__nav--li-03 {}

.header__nav--li-04 {}

.header-menu--find-btn {
  padding: 10px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.header-menu--find-btn:hover {
  background-color: aqua;
}

/* #endregion Header Menu */

/* #region Section Header */

.section--header {}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__outter-block {
  background-image: url(../img/pexels-expect-best-323780\ 1.png);
  min-height: 739px;

  background-repeat: no-repeat;
  background-position: right;

  /* выравниваем по вертикали расположенный внутри блок относительно внешнего */
  display: flex;
  align-items: center;
}

.header__inner-block {
  background: linear-gradient(91deg, rgba(244, 246, 245, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
  max-width: 690px;
  width: 100%;
  min-height: 550px;

  /* выравниваем вертикально содержимое внутри внутреннего блока */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__h1 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 51px;
  color: #2f2e2e;

  max-width: 438px;
}

.header__h2 {
  font-family: var(--second-family);
  font-weight: 200;
  font-size: 32px;
  color: #2f2e2e;

  max-width: 438px;
}

/* #endregion Section Header */

/* #region Section Our Services */
.section--our-services {
  padding-top: 12px;
  padding-bottom: 65px;
  background: rgba(37, 77, 77, 0.2);
}

.services__h1 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 51px;
  text-align: center;
  color: #2f2e2e;
}

.services__items-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-top: 44px;
}

.services__item {
  text-align: center;
}

.services__h3 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 27px;
  text-align: center;
  color: #2f2e2e;
}

.services__p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #2f2e2e;
  max-width: 160px;

  padding-top: 6px;
}

/* #endregion Section Our Services */

/* #region Section About us */
.section--about-us {}

.about-us__container {
  padding: 76px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 85px;
}

.about-us__right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us__h1 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 51px;
  color: #2f2e2e;

  margin-bottom: 30px;
}

.about-us__h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 31px;
  color: #2f2e2e;

  max-width: 455px;
  margin-bottom: 35px;
}

.about-us__a {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  color: #2f2e2e;

  text-decoration: none;
}

/* #endregion Section About us */

/* #region Our projects */
.section--our-projects {}

.our-projects__h1 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 51px;
  color: #2f2e2e;

  padding-top: 18px;
  padding-left: 70px;
  margin-bottom: 71px;
}

.our-projects__items-container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1260px;
  margin: 0 auto;
  gap: 85px;
  margin-bottom: 89px;
}

.our-projects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-projects__p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #2f2e2e;

  max-width: 180px;
  padding-top: 13px;
}

/* #endregion Our projects */

/* #region Section Team */
.section--team {
  padding-bottom: 137px;
}

.team__item {
  display: flex;
}

.team__item img {
  align-self: center;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.team__h2 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 51px;
  text-align: center;
  color: #000;

  margin-bottom: 91px;
}

.team__text {
  max-width: 418px;
  padding-left: 20px;
}

.team__h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: #2f2e2e;

  margin-bottom: 16px;
}

.team__p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: #2f2e2e;
}

@media screen and (max-width:420px) {
  .team__item {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .team__text {
    padding-left: 0;
  }
}

/* #endregion Section Team */

/* #region Footer */
.footer {
  background: #2e2f32;
  color: white
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 48px;

  max-width: 1240px;
  margin: 0 auto;
}

.footer__left-side {}

.footer__logo {
  margin-bottom: 6px;
}

.footer__logo--a {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 42px;
  color: #fafafa;
  text-decoration: none;
}

.footer__left-side-p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 171%;
  color: #fafafa;

  max-width: 290px;
  margin-bottom: 42px;
}

.footer__left-side-social-icons {
  display: flex;
  gap: 35px;
}

.footer__center {
  max-width: 381px;
  width: 100%;
}

.footer__h3 {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 24px;
  color: #fafafa;
  padding-top: 9px;
  margin-bottom: 18px;
}

.footer__center--p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #fafafa;
  margin-bottom: 10px;
}

.footer__right-side {}

/* #endregion Footer */