/* #region Сброс */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* #endregion Сброс*/

/* #region Общее */
:root {
  --font-family: "Playfair Display", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Barlow", sans-serif;
}

.container--common {
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

/* Для всех ссылок цвет после посещения сделаем одинаковыми соответствующе цвету родительского элемента */
a:visited {
  color: inherit;
}

/* #endregion Общее */

/* #region Header Menu */

.header-menu {}

.header-menu--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  margin: 0 auto;
  gap: 15px;
  padding: 0 65px;
}

.logo {}

.logo--a {
  text-decoration: none;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 42px;
  color: #2f2e2e;

  display: block;
  padding: 10px;
  border-radius: 5px;
}

.logo--a:hover {
  background-color: aqua;
}

.header__nav {
  max-width: 625px;
  width: 100%;
}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav li {}

.header__nav-a {
  text-decoration: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #2f2e2e;

  display: block;
  padding: 10px;
  border-radius: 5px;
}

.header__nav-a:hover {
  background-color: aqua;
}

.header__nav--li-01 {}

.header__nav--li-02 {}

.header__nav--li-03 {}

.header__nav--li-04 {}

.header-menu--find-btn {
  padding: 10px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.header-menu--find-btn:hover {
  cursor: pointer;
  background-color: aqua;
}

/* #endregion Header Menu */

/* #region Section Team */
.section--team {}

.team__item {
  display: flex;
}

.team__item img {
  align-self: center;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
  font-size: 40px;
}

.team__text {
  max-width: 350px;
  padding-left: 20px;
}

@media screen and (max-width:420px) {
  .team__item {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .team__text {
    padding-left: 0;
  }
}

/* #endregion Section Team */